{% include '_head.html' %}
{% load static %}
</head>
<body>

<div class="container">
    <h1></h1>
    <div class="container">
<!--{{palavra}}-->
    <h1>Vidas: {{life}}</h1>
        <h1>{{blank | title}}</h1>
        {% if life == 0 %}
        <h1>VOCÊ MORREU !</h1>
        {% else %}
            <form method="post" action="{% url 'randomize' palavra.id %}">
        {% csrf_token %}
        <input type="text" placeholder="Digite a Letra !" name="guess">
        <button type="submit" class="btn btn-primary">Enter</button>
        {% endif %}
    </form>
    <h1>{{hint}}</h1>
    </div>
    <h1>Forca:</h1>
    <canvas id="stickman" style="width: 35%"></canvas>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<script>
window.onload = function () {

  // Animate man
  var animate = function () {
    var drawMe = lives ;
    drawArray[drawMe]();
  }

   // Hangman
  canvas =  function(){

    myStickman = document.getElementById("stickman");
    context = myStickman.getContext('2d');
    context.beginPath();
    context.strokeStyle = "#fff";
    context.lineWidth = 2;
  };

    head = function(){
      myStickman = document.getElementById("stickman");
      context = myStickman.getContext('2d');
      context.beginPath();
      context.arc(60, 25, 10, 0, Math.PI*2, true);
      context.stroke();
    }

  draw = function($pathFromx, $pathFromy, $pathTox, $pathToy) {

    context.moveTo($pathFromx, $pathFromy);
    context.lineTo($pathTox, $pathToy);
    context.stroke();
}

   torso = function() {
     draw (60, 36, 60, 70);
   };

   rightArm = function() {
     draw (60, 46, 100, 50);
   };

   leftArm = function() {
     draw (60, 46, 20, 50);
   };

   rightLeg = function() {
     draw (60, 70, 100, 100);
   };

   leftLeg = function() {
     draw (60, 70, 20, 100);
   };

  drawArray = [rightLeg, leftLeg, rightArm, leftArm,  torso,  head];


  l = {{life}}

switch(l) {
    case 5:
        head();
        break;
    case 4:
        head();
        torso();
        break;
    case 3:
        head();
        torso();
        rightArm();
        break;
    case 2:
        head();
        torso();
        rightArm();
        leftArm();
        break;
    case 1:
        head();
        torso();
        rightArm();
        leftArm();
        rightLeg();
        break;
    case 0:
        head();
        torso();
        rightArm();
        leftArm();
        rightLeg();
        leftLeg();
        alert("Morreu");
        break;
   }
}

</script>


{% include '_boot.html' %}
</body>
</html>